@font-face {
    font-family: "goethegothicbold";
    src: url('../fonts/goethegothicbold.ttf');
    src: url('../fonts/goethegothicbold.ttf') format('truetype');
}

@font-face {
    font-family: "goethegothic";
    src: url('../fonts/goethegothic.ttf');
    src: url('../fonts/goethegothic.ttf') format('truetype');
}

body{
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: Monserrat, sans-serif, Arial, Helvetica;
}

/*-----------------------------------------------*/
header{
	width: 100%;
	height: 100px;
	background-color: #689A88;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1{
	font-size: 3em;
	color: #F5CD60;
}

/*-----------------------------------------------*/
footer{
	height: 75px;
	width: 100%;
	background-color: #689A88;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer a{
	margin-left: 50px;
	margin-right: 50px;
	text-decoration: none;
	color: #F5CD60;
	font-size: 1.5em;
}

footer a:hover{
	animation: wiggle 0.3s;
}

@keyframes wiggle{
	0%{
		rotate: 0deg;
	}
	10%{
		rotate: 5deg;
	}
	20%{
		rotate: 0deg;
	}
	30%{
		rotate: -5deg;
	}
	40%{
		rotate: 0deg;
	}
	50%{
		rotate: 5deg;
	}
	60%{
		rotate:0deg;
	}
	70%{
		rotate: -5deg;
	}
	80%{
		rotate: 0deg;
	}
	90%{
		rotate: 5deg;
	}
	100%{
		rotate: 0deg;
	}
}


/*-----------------------------------------------*/
main{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

/*-----------------------------------------------*/
#sub_section{
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FEF6FE;
	box-shadow: 0px 0px 7px 1px rgba(209,205,209,1);
	font-family: goethegothic;
}

h3{
	font-size: 2em;
	font-family: goethegothicbold;
	 background: -webkit-linear-gradient(left, #e27f0e, #8f5aff);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

h4{
	font-size: 1em;
	font-family: goethegothicbold;
}

.menu_item{
	width: 80%;
	margin-bottom: 50px;
}

#item_1{
	color: #BB782F;
}

#item_2{
	color: #9C6A96;
}

#item_3{
	color: #694DC5;
}

.menu_item_title, .menu_item_composition{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu_item_title{
	align-items: center;
}

.menu_item_title img{
	width: 30%;
	max-height: 8px;
}

.menu_2_trait_2{
	transform: rotateY(180deg);
}

#menu_item_composition_last{
	display: flex;
	flex-direction: column;
}

#last_item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#last_item img{
	max-width: 31px;
	max-height: 30px;
	margin-right: 15px;
}

#last_item p{
	font-weight: bold;
}

@media all and (max-width: 768px){
	.menu_item_composition{
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
}

@media all and (max-width: 576px){
	.menu_item_title{
		flex-direction: column;
	}
	.menu_item_title img{
		width: 50%;
	}
	.menu_item_composition p{
		text-align: center;
	}
	footer a{
		font-size: 1em;
		margin-left: 20px;
		margin-right: 20px;
	}
}


